header{
    height: 72px;
    background: $dark 0% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.5s;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    margin-right: 150px;
    gap: 26px;
    
  }
  
  a{
    color: #ffffffa1;
    text-decoration: none;
    // height: 46px;
    transition: 0.5s;
    &:hover {
        color: #FFFFFF;
        border-bottom: 5px solid $color-1 ;
    }
  }
  
  img {
    margin-left: 100px;
  }

  #burger {
    display: none;
    &:hover {
      border-bottom: none
  }
}

.rotate {
  transform: rotateZ(-90deg);
}

a.block {
  display: block;
}
